

.offercontainerr{
    min-width: 385px;
    height: 210px;
    background: linear-gradient(135deg,blue,yellow );
    /* background: linear-gradient(135deg, #0a3d91, #0b6cd4); */
    border-radius: 20px;
    margin-left: 90px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor:grab;
    overflow: hidden;
}


.headdingoffer{
    margin-top: -0.5px;
    padding: 10px;
    margin-left: 10px;
    
}

    
    

.price{
    font-size: 35px;
    font-weight: bold;
    margin-left: 20px;
    
}
.pricep{
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
}

.btncard{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: red;
    color: white;
    font-size:15px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
    cursor:grab;
}
.image{
    margin-top: 100px;
    margin-right: 10px;
    

}

.imgmbl{
    height: 130px;
    width: 130px;
    margin-bottom: 500px;
    display: flex;
    
    
}
